div{
    background-color: red;
    padding: 10px;
    color: white;
    text-align: center;
    margin: 10px;
}
 h1{
    background-color: aqua;
    padding: 10px;

 }
i{
    background-color: green;
    color: aliceblue;
    padding: 3px;
}
p{
    
    background-color: aqua;
    padding: 10px;
    text-align: initial;
    text-indent: 20px;
    letter-spacing: 10px;
    word-spacing: 10px;
    line-height: normal;
}


    