.container{

    display: grid;
    /* grid-template-columns: 100px 100px; */
    /* grid-template-columns: 1fr 1fr; */
    /* grid-template-columns: repeat(3,1fr); */
    /* grid-template-rows: 100px 200px; */
    grid-template-columns: repeat(auto-fill,minimax(100px, 1fr));
    grid-template-columns: repeat(auto-fit,minimax(100px, 1fr));

    grid-template-areas:"header header" 
    "aside article"
    "footer footer";
    


}
.box{
    background-color: violet;
    padding: 20px;
    margin: 20px;
    text-align: center;
    color: white;
}
img{
    height: 50px;
    width: 50px;
}
.header{
    grid-area: header;
    background-color: red;
    padding:20px ;
    text-align: center;
}
.aside{
    grid-area: aside;
    background-color:blue;
    padding:20px ;

}
.article{
    grid-area: article;
    background-color:brown;
    padding:20px ;
}
.footer{
    grid-area: footer;
    background-color:green;
    padding: 20px;
}




